<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004277212557-l69cuuf42sho0gtkr21cgv4he4v208g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004277212557-l69cuuf42sho0gtkr21cgv4he4v208g7</string>
	<key>API_KEY</key>
	<string>AIzaSyDuv3MDajkSuRLFyd1vIQ4s3X-FIZ4ELRE</string>
	<key>GCM_SENDER_ID</key>
	<string>1004277212557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shivSuperApp</string>
	<key>PROJECT_ID</key>
	<string>shivsuperapp</string>
	<key>STORAGE_BUCKET</key>
	<string>shivsuperapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004277212557:ios:959420990a908cd12449c4</string>
</dict>
</plist>